# Copy to application-local.properties, set your MySQL password, then:
#   mvn spring-boot:run -Dspring-boot.run.profiles=local

spring.datasource.username=root
spring.datasource.password=YOUR_MYSQL_PASSWORD_HERE
